#caixa_inicio{
    height: 500px;
}

#console{
    width: 21em;
    height: 18em;
    border: 3px solid red;
    margin-bottom: 50px;
    background-color: #000000;
    color: #00FF00;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border-color: white;
    margin-top: 15px;
}

#titulo{
    color: white;
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
}

#bloco_habilidades img{
    background-color: rgb(137, 134, 134);
    border-radius: 10px;
    padding: 5px;
    width: 60px;
    height: 60px;
}

#bloco_habilidades img:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    width: 70px;
    height: 70px;
}

.paragrafo{
    color: white;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

@keyframes blinkCursor{
    from{
        border-right-color: white 
    }
    to{
        border-right-color: transparent ;
    }
}

